<mat-label>Mi perfil</mat-label>
<div class="example-selected-value">

    <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput>{{usuario}}
    </mat-form-field>
</div>
<div class="example-selected-value">
    <mat-form-field appearance="fill" >
        <mat-label>Rol(es)</mat-label>
        <div *ngFor="let rol of roles; let i=index">
            <input matInput>{{rol}}
        </div>
    </mat-form-field>
</div>
<!-- 1:04 horas -->