<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmEspecialidad="ngForm">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" required formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Descripción" required formControlName="descripcion">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmEspecialidad.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" type="button" routerLink='/pages/especialidad'>
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>